@{
    ViewData["Title"] = "Home Page";
}

<section class="pt-5 pb-5">
    <div class="container-fluid">
        <div>
            <div>
                <h6>Company Name</h6>
            </div>
            <div class="text-right">
                <a asp-controller="product" asp-action="ShowBrandAllProducts"><span>View All<i class="fas fa-arrow-right"></i></span></a>
            </div>
        </div>
        <hr />
        <div class="owl-carousel owl-theme">
            <div class="ms-2 me-2">
                <div class="card">
                    <img class="card-img-top" src="~/images/logo/alisha.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="ms-2 me-2">
                <div class="card">
                    <img class="card-img-top" src="~/images/logo/alisha.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text"> bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="ms-2 me-2">
                <div class="card">
                    <img class="card-img-top" src="~/images/logo/alisha.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="ms-2 me-2">
                <div class="card">
                    <img class="card-img-top" src="~/images/logo/alisha.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="ms-2 me-2">
                <div class="card">
                    <img class="card-img-top" src="~/images/logo/alisha.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="ms-2 me-2">
                <div class="card">
                    <img class="card-img-top" src="~/images/logo/alisha.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="ms-2 me-2">
                <div class="card">
                    <img class="card-img-top" src="~/images/logo/alisha.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="ms-2 me-2">
                <div class="card">
                    <img class="card-img-top" src="~/images/logo/alisha.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="ms-2 me-2">
                <div class="card">
                    <img class="card-img-top" src="~/images/logo/alisha.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">e and make content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="container-fluid">
        <div>
            <div>
                <h6>Company Name</h6>
            </div>
            <div class="text-right">
                <a><span>View All<i class="fas fa-arrow-right"></i></span></a>
            </div>
        </div>
        <hr />
        <div class="owl-carousel owl-theme">
            <div class="ms-2 me-2">
                <div class="card">
                    <img class="card-img-top" src="~/images/logo/alisha.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="ms-2 me-2">
                <div class="card">
                    <img class="card-img-top" src="~/images/logo/alisha.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text"> bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="ms-2 me-2">
                <div class="card">
                    <img class="card-img-top" src="~/images/logo/alisha.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="ms-2 me-2">
                <div class="card">
                    <img class="card-img-top" src="~/images/logo/alisha.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="ms-2 me-2">
                <div class="card">
                    <img class="card-img-top" src="~/images/logo/alisha.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="ms-2 me-2">
                <div class="card">
                    <img class="card-img-top" src="~/images/logo/alisha.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="ms-2 me-2">
                <div class="card">
                    <img class="card-img-top" src="~/images/logo/alisha.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="ms-2 me-2">
                <div class="card">
                    <img class="card-img-top" src="~/images/logo/alisha.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="ms-2 me-2">
                <div class="card">
                    <img class="card-img-top" src="~/images/logo/alisha.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">e and make content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="container-fluid">
        <div>
            <div>
                <h6>Company Name</h6>
            </div>
            <div class="text-right">
                <a><span>View All<i class="fas fa-arrow-right"></i></span></a>
            </div>
        </div>
        <hr />
        <div class="owl-carousel owl-theme">
            <div class="ms-2 me-2">
                <div class="card">
                    <img class="card-img-top" src="~/images/logo/alisha.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="ms-2 me-2">
                <div class="card">
                    <img class="card-img-top" src="~/images/logo/alisha.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text"> bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="ms-2 me-2">
                <div class="card">
                    <img class="card-img-top" src="~/images/logo/alisha.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="ms-2 me-2">
                <div class="card">
                    <img class="card-img-top" src="~/images/logo/alisha.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="ms-2 me-2">
                <div class="card">
                    <img class="card-img-top" src="~/images/logo/alisha.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="ms-2 me-2">
                <div class="card">
                    <img class="card-img-top" src="~/images/logo/alisha.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="ms-2 me-2">
                <div class="card">
                    <img class="card-img-top" src="~/images/logo/alisha.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="ms-2 me-2">
                <div class="card">
                    <img class="card-img-top" src="~/images/logo/alisha.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="ms-2 me-2">
                <div class="card">
                    <img class="card-img-top" src="~/images/logo/alisha.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">e and make content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
    

