@model EcommerceWebApp.Models.ProductModel
@inject EcommerceWebApp.Repository.IBrandRepository _brandRepository
@inject EcommerceWebApp.Repository.ICategoryRepository _categoryRepository

@{
    ViewData["Title"] = "Edit";
}


<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="card">
                <div class="card-header bg-info">
                    <h4 class="text-white font-weight-bold">Update Product</h4>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" asp-controller="Product" asp-area="Admin" asp-action="Edit" class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-6">

                                <div class="form-group">
                                    <label asp-for="BrandId"></label>
                                    <select asp-for="BrandId" class="form-control"
                                            asp-items="(await  _brandRepository.GetAllBrands()).Select(x=>
                                    new SelectListItem(){Text = x.BrandName , Value = x.Id.ToString()} )"
                                            required>
                                        <option value="" selected disabled>Select a language</option>
                                    </select>
                                    <span asp-validation-for="BrandId" class="text-danger"></span>

                                </div>
                            </div>
                            <div class="col-sm-6">

                                <div class="form-group">
                                    <label asp-for="CategoryId"></label>
                                    <select asp-for="CategoryId" class="form-control"
                                            asp-items="(await  _categoryRepository.GetAllCategories()).Select(x=>
                                    new SelectListItem(){Text = x.CategoryName, Value = x.Id.ToString()} )"
                                            required>
                                        <option value="" selected disabled>Select a language</option>
                                    </select>
                                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="ProductName"></label>
                                    <input asp-for="ProductName" class="form-control" required />
                                    <input asp-for="Id" class="form-control" hidden />
                                    <span asp-validation-for="ProductName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">

                                <div class="form-group">
                                    <label asp-for="ProductCode"></label>
                                    <input asp-for="ProductCode" class="form-control" required />
                                    <span asp-validation-for="ProductCode" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">

                                <div class="form-group">
                                    <label asp-for="AvailableQuantity"></label>
                                    <input asp-for="AvailableQuantity" class="form-control" required />
                                    <span asp-validation-for="AvailableQuantity" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">

                                <div class="form-group">
                                    <label asp-for="BuyingPrice"></label>
                                    <input type="number" asp-for="BuyingPrice" class="form-control" required />
                                    <span asp-validation-for="BuyingPrice" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">

                                <div class="form-group">
                                    <label asp-for="SellingPrice"></label>
                                    <input type="number" asp-for="SellingPrice" class="form-control" required />
                                    <span asp-validation-for="SellingPrice" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6 row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label asp-for="CoverImage"></label>
                                        <input asp-for="CoverImage" type="file" class="form-control"
                                               onchange="document.getElementById('CoverImage-imagePrv').src = window.URL.createObjectURL(this.files[0])" />
                                        <span asp-validation-for="CoverImage" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <img id="CoverImage-imagePrv" class="img-fluid"src="@(string.IsNullOrEmpty(Model.CoverImageUrl) ? "~/images/dummyImage.png" : Model.CoverImageUrl)"
                                         alt="Cover Image" width="120" height="100" style="border:1px;margin:10px" />

                                </div>
                            </div>
                            <div class="col-sm-12">

                                <div class="form-group">
                                    <label asp-for="Description"></label>
                                    <textarea id="summernote" rows="5" asp-for="Description" class="form-control" required></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <a class="btn btn-block btn-secondary" asp-controller="Product" asp-area="Admin" asp-action="Index"><span><i class="fas fa-arrow-left"></i></span> Products List</a>
                            </div>
                            <div class="col-sm-6">
                                <button type="submit" class="btn btn-block btn-info" ><span><i class="fas fa-save"></i></span> Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

