@model EcommerceWebApp.Models.CategoryModel

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="card">
                <div class="card-header text-center">
                    <h4 class="text-primary">Add Category</h4>
                    <a class="float-right" asp-controller="Home" asp-area="Admin" asp-action="Index">Back to Home</a>
                </div>
                <div class="card-body">
                    <form method="post" asp-controller="Category" asp-area="Admin" asp-action="Edit" class="form-horizontal">
                        <input asp-for="Id" class="form-control" hidden />
                        <div class="form-group row">
                            <label asp-for="CategoryName" class="col-sm-3"></label>
                            <div class="col-sm-9">
                                <input asp-for="CategoryName" class="form-control" required />
                                <span asp-validation-for="CategoryName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-9 offset-sm-3">
                            <input type="submit" value="Update" class="btn btn-block btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>